:root {
    /* CSS HEX */
 --heavy-metal: #2e342e;
 --timberwolf: #dad7cf;
 --yellow-metal: #816c3b;
 --domino: #947f5b;
 --tundora: #444444;
 --fuscous-gray: #555850;
 --dove-gray: #6f6f6f;
 --tallow: #a89f88;
 --gray: #878787;
 --mantle: #9ea49e;
}